<div class="full-page-container">
	<section class="contact">
		<h2 class="contact__title" #title>Contact
			<span class="contact__title-dark">Contact</span>
		</h2>
		<ol class="contact__list">
			<li class="contact__item">
				<i class="icon fa fa-github"></i><a target="_blank"
					href="https://github.com/rodsilver83">github.com/rodsilver83</a>
			</li>
			<li class="contact__item">
				<i class="icon fa fa-linkedin"></i><a target="_blank"
					href="https://www.linkedin.com/in/soriarodrigo/">linkedin.com/in/soriarodrigo</a>
			</li>
			<li class="contact__item">
				<i class="icon fa fa-codepen"></i><a target="_blank"
					href="https://codepen.io/Rodsilver83">codepen.io/Rodsilver83</a>
			</li>
			<li class="contact__item">
				<i class="icon fas fa-envelope"></i><a target="_blank"
					href="mailTo:hello@rodrigosoria.me">hello@rodrigosoria.me</a>
			</li>
		</ol>
	</section>
</div>
