<div class="full-page-container">
	<section class="skills">
		<h2 class="skills__title" #title>Skills
			<span class="skills__title-dark">Skills</span>
		</h2>
		<div class="skills__charts">
			<div class="skills__bar">
				<div class="skills__bar_a">
					<span class="skills__bar_pct">95%</span>
					<i class="icon fab fa-html5"></i>
				</div>
				<span class="skills__name">HTML5</span>
			</div>

			<div class="skills__bar">
				<div class="skills__bar_a">
					<span class="skills__bar_pct">95%</span>
					<i class="icon fab fa-css3-alt"></i>
				</div>
				<span class="skills__name">CSS3</span>
			</div>

			<div class="skills__bar">
				<div class="skills__bar_a">
					<span class="skills__bar_pct">95%</span>
					<i class="icon fsb fa-js-square"></i>
				</div>
				<span class="skills__name">JS</span>
			</div>

			<div class="skills__bar">
				<div class="skills__bar_a">
					<span class="skills__bar_pct">95%</span>
					<i class="icon fab fa-angular"></i>
				</div>
				<span class="skills__name">ANGULAR</span>
			</div>

			<div class="skills__bar">
				<div class="skills__bar_a bar_85">
					<span class="skills__bar_pct">85%</span>
					<i class="icon fab fa-react"></i>
				</div>
				<span class="skills__name">REACT</span>
			</div>

		</div>
	</section>
</div>