<div class="full-page-container">
	<section class="profile">
		<div class="profile__container">
			<img class="profile__pic" src="../../assets/profile_pic.jpg"
				alt="profile picture">
		</div>
		<p>
			Front End Developer with an eye for UI/UX. I spend my free time creating new
			levels for my mobile game,
			have a various set of skills, from HTML 5 +
			CSS 3 + JS ES6, Angular, React
			mobile development, Unity, AR / VR to name a few.
		</p>
		<p>
			Enjoy turning complex problems into simple tasks, is like
			solving a puzzle. I'm coding most of the
			time, or playing
			videogames, you'll find me in the gym from time to time.
		</p>
	</section>
</div>